* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Hurmit Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

window#waybar {
    background-color: transparent;
    color: #8fb8d5;
    border-radius: 7px;
    transition-property: background-color;
    transition-duration: .5s;

}

/*window#waybar > box {
	padding: 7px;
}*/

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3E6383;
}

window#waybar.chromium {
    background-color: #8fb8d5;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: inherit;
}

/* you can set a style on hover for any module like this */


#custom-logo {
  background-image: url("/mnt/windows/Users/Admin/Pictures/Untitled-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 32px;
}


#workspaces {

}

#workspaces button {
    padding: 3px 7px 1px 7px;
    background-color: transparent;
    color:  #8Fb8d5;
    transition: ease 0.37s;
    border-radius: 7px;
    margin: 0 3px;
    border: 1px solid  #8Fb8d5;
}

#workspaces button:hover {
    background: #6DA6CE;
}

#workspaces button.active {
	background-color: #8Fb8d5;
}

#workspaces button.focused {
    background-color: #4C7B9D;
}

#workspaces button.urgent {
    background-color: #192B3A;
}

#mode {
    background-color: #4C7B9D;
    box-shadow: inset 0 -3px #8fb8d5;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    background-color: transparent;
    padding: 3px 17px 1px 17px;
    color:  #8Fb8d5;
    border-radius: 7px;
    border: 1px solid  #8Fb8d5;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #8fb8d5;
}

#privacy-item.screenshare {
    background-color: #6399C0;
}

#privacy-item.audio-in {
    background-color: #4C7B9D;
}

#privacy-item.audio-out {
    background-color: #3E6383;
}
